/* Используемые анимации */

@keyframes backdrop-fade-in {
  from {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
  }
  to {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }
}

@keyframes backdrop-fade-out {
  from {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }
  to {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
  }
}

@keyframes dialog-fade-in {
  from {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

@keyframes dialog-fade-out {
  from {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.95);
  }
}
