# Игнорируем вложенные репозитории и папки
svadba/
tg_chanel/

# Игнорируем временные файлы Windows
Thumbs.db
Desktop.ini

# Игнорируем логи
*.log

# Игнорируем папки node_modules (если используешь npm)
node_modules/

# Игнорируем файлы окружений
.env
